body {
  overflow-x: hidden;
  margin: 0px;
  background-color: steelblue;
}

.extra-margin-lg {
  margin-top: 100px;
}

.extra-margin-md {
  margin-top: 50px;
}

.card {
  padding: 15px;
  margin: 20px;
}

.center-img {
  display: block;
  margin: 25px auto;
}

.card-title {
  font-weight: bold;
  font-size: 120%;
}

.card-subtitle {
  font-style: italic;
}

button {
  width: 70%;
  margin: 25px auto;
}

div[class="col-md-7"]>p {
  color: rgba(255, 255, 255, 0.7);
  padding-top: 50px;
  text-align: center;
}

form button {
  width: 100%;
}

footer {
  background-color: #343a40!important;
}

footer p {
  padding: 15px;
  color: rgba(255, 255, 255, 0.7);
}
